---
layout: default
---

<div class="home">
    <h1 class="page-heading">Guides, Opinions, and Other Things</h1>
    <p>I started learning how to build for the web in 1997, and I haven't looked back. In June of 2022, as I celebrated my web-versary, I realized that I have a lot to say, and thought that maybe it was time to write a blog. So here we are.</p>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <!-- {%- if site.show_excerpts -%} -->
          {{ post.excerpt }}
        <!-- {%- endif -%} -->
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
