---
layout: default
---

<div class="home">
    <h1 class="page-heading">Guides, Opinions, and Other Things</h1>
    <p>I'm Melanie Sumner; you may know me from such places as the internet. I started learning how to build for the web in 1997, and I'm still as thrilled about it today as I was then. I figured I should write some stuff down before I start forgetting things. So here we are.</p>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <!-- {%- if site.show_excerpts -%} -->
          {{ post.excerpt }}
        <!-- {%- endif -%} -->
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
