---
layout: default
---

<div class="home">
    <h1 class="page-heading">Guides, Opinions, and Other Things</h1>
    <p>I'm Melanie Sumner; you may know me from such places as the internet. I started learning how to build for the web in 1997, and I'm still as thrilled about it today as I was then. I figured I should write some stuff down before I start forgetting things. So here we are.</p>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <span aria-hidden="true">&#8608;</span> {{ post.title | escape }}
        </a>
        {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
